<h1>{{ 'Shopping list' | translate }}</h1>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="{{ 'Type item to add' | translate }}" matInput [formControl]="itemControl"
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredItems | async" [value]="option.itemName">
        {{ option.itemName }}
      </mat-option>
    </mat-autocomplete>

    <mat-error *ngIf="itemControl.errors?.minlength">
      {{ 'Please type at least 3 characters' | translate }}
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" class="save-button" (click)="saveItem()">{{ "Add" | translate }}</button>
  <button mat-raised-button color="warn" [disabled]="itemControl.value === ''" (click)="reset()">{{ "Reset" | translate
    }}</button>
</form>

<mat-selection-list [multiple]="false">
  <mat-list-option *ngFor="let todoItem of todoItems" [value]="todoItem" [class.is-checked]="todoItem.checked">
    <p appHighlight [text]="todoItem.itemName" class="item-name" (click)="onSelectItem(todoItem)">{{
      todoItem.itemName }}
    </p>

    <span class="events">
      <span aria-hidden="false" aria-label="{{ 'Edit item' | translate }}" (click)="onEditItem(todoItem)"
        class="material-icons">edit</span>
      <span aria-hidden="false" aria-label="{{ 'Delete item' | translate }}" (click)="onDeleteItem(todoItem)"
        class="material-icons">delete_outline</span>
    </span>
  </mat-list-option>
</mat-selection-list>