/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

form {
    text-align: center;
    display: grid;
    justify-content: center;

    .mat-form-field-infix {
        min-width: 300px;
    }

    .save-button {
        margin-bottom: 20px;
    }
}

.mat-list-base .mat-list-option {
    &.is-checked .item-name {
        text-decoration: line-through;
    }

    .material-icons {
        font-size: x-large !important;

        &:first-child {
            margin-right: 10px;
        }
    }

    .mat-list-text {
        flex-direction: row !important;
        justify-content: space-between;

        .item-name {
            display: flex;
            align-items: center;
            padding: 10px;
        }
    }
}
